.board {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 512px;
    height: 512px;
}

.board > div {
    flex-grow: 0;
    width: 33.33%;
    height: 33.33%;
    box-sizing: border-box;
    background-color: #ccc;
}

.board > div:nth-child(2n) {
    background-color: #ddd;
}